main {
    background-color: #2f4f4f;
}

.background {
    position: relative;
    width: 100%;
    height: 140vh;
}

#test {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: max-content max-content;
    font-family: 'didot';
    position: absolute;
    left: 0;
    top: -5.5em;
    height: 90%;
}

#test2 {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 10em;
    height: auto;
}


/* HomePage Title */
  
h2 {
    font-size: 100px;
    margin: 0;
    writing-mode: vertical-lr;
    text-align: center;
    line-height: .85;
    color: white;
}
  
.rotate {
    transform: rotate(180deg);
}


/* CARDS */

.card {
    background-color: #212529;
    color: white;
}

/* Test NgClass */

.square {
    width: 30px;
    height: 30px;
    margin: auto;
    border: 1px solid yellow;
}

.redsquare {
    background: red;
}

.bluesquare {
    background: blue;
}



/* Media Queries */

@media (max-width: 880px) {
    #test2 {
        display: flex;
        flex-direction: column;
    }
}

