li {
    padding: 10px 15px;
    border: 1px solid #444;
    list-style-type: none;
    margin-bottom: 0px;
    cursor: pointer;

    display: flex;
    justify-content: left;
    align-items: baseline;
    padding-left: 40px;
}

li:hover {
    background-color: #444;
    color: white;
    transition: .8s;
}

.btn {
    padding: 10px 15px;
    background-color: white;
    border: 0;
    border-radius: 3px;
    font-weight: 700px;
}

.btn-primary {
    background-color: #444;
    border: 1px solid #222;
}
.btn-primary:hover {
    background-color: rgb(100, 100, 100);
    transition: 0.4s;
}

/* Mise en Classe perso / Plutôt que d'utiliser Bootstrap */

/* LayOut */

.container {
    display: block;
    margin: 0;
    margin-top: 1em;
    font-size: .4em;
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-justify-content-center {
    justify-content: center;
  }
  
  .flex-justify-content-between {
    justify-content: space-between;
  }
  
  .flex-align-items-center {
    align-items: center;
  }
  
  .flex-align-items-between {
    align-items: space-between;
  }
  
  .flex-fill {
    flex: 1 1 auto;
  }