<main>
    <div class="background">

        <div class="row g-0 text-center">
            <div class="col-6 col-md-4" id="test">
                <h2 class="rotate">Chapter 2.2</h2>
                <h2 class="">Templates</h2>
            </div>
    
            <div class="col-sm-6 col-md-8" id="test2">
                <div class="row g-2">
                    <div class="col-6">
                        <p>test</p>
                    </div>
                    <div class="col-6">
                        <p>test</p>
                    </div>
                    <div class="col-6">
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>