<main>
    <div class="background">

        <div class="row g-0 text-center">
            <div class="col-6 col-md-4" id="test">
                <h2 class="rotate">Chapter 3.1</h2>
                <h2 class="">Cocktails</h2>
            </div>
    
            <div class="col-sm-6 col-md-8" id="test2">
                <div class="row g-2">
                    <div class="col-12">
                        <div class="wrapper">
                            <div class="card">
                                <!-- Card Cocktail App -->
                              <h1>
                                <span class="enclosed">Cocktail</span>App
                              </h1>

                              <nav class="header d-flex flex-row flex-justify-content-between flex-align-items-center">
                                <a href="#" class="logo">Cocktails</a>
                                <ul class="d-flex flex-justify-content-between">
                                    <li class="">
                                        <a href="#">Recettes</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Ingrédients</a>
                                    </li>
                                </ul>
                              </nav>

                              <div class="container d-flex flex-row p-0">
                                <app-cocktail-list class="flex-50"></app-cocktail-list>
                                <app-cocktail-details class="flex-50"></app-cocktail-details>
                              </div>


                            </div>
                          </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</main>